* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}
#container {
    position: relative;
    background: #333;
    min-width: 400px;
    width: 70vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.block {
    border: 1px solid black;
    position: relative;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    ;background: #1f4037;  
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); 
    background: linear-gradient(to right, #99f2c8, #1f4037);
}

.block input {
    position: absolute;
    background: #333;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
}

#finish {
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#finish #lose {
    background: white;
    width: 40%;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    color: red;
    display: none;
}
#finish #win {
    background: white;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    color: red;
    display: none;
}

button {
    width: 100px;
    height: 50px;
    background: #f85032;
    background: -webkit-linear-gradient(to right, #e73827, #f85032); 
    background: linear-gradient(to right, #e73827, #f85032);
    border: none;

}
button:active {
    transform: translateY(3px);
}